.outer-container {
  display: flex;
  min-height: 100%;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.step-circle-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.step-indicator-row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem 0;
  justify-content: center;
}

.step-content-default {
  position: relative;
  overflow: hidden;
}

.step-default {
  padding: 0;
}

.footer-container {
  padding: 2rem 0;
}

.footer-nav {
  margin-top: 2.5rem;
  display: flex;
}

.footer-nav.spread {
  justify-content: space-between;
}

.footer-nav.end {
  justify-content: flex-end;
}

.back-button {
  transition: all 350ms;
  border-radius: 0.25rem;
  padding: 12px 24px;
  color: #a3a3a3;
  cursor: pointer;
  background: transparent;
  border: 2px solid #a3a3a3;
  font-size: 14px;
  font-weight: 600;
}

.back-button:hover {
  color: #ffc010;
  border-color: #ffc010;
}

.back-button.inactive {
  pointer-events: none;
  opacity: 0.5;
  color: #a3a3a3;
}

.next-button {
  transition: all 350ms;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #ffc010;
  color: #000;
  font-weight: 600;
  letter-spacing: -0.025em;
  padding: 12px 32px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.next-button:hover {
  background-color: #ffb000;
}

.next-button:active {
  background-color: #ffa000;
}

.step-indicator {
  position: relative;
  cursor: pointer;
  outline: none;
}

.step-indicator-inner {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-weight: 600;
  border: 2px solid #333;
}

.active-dot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  background-color: #000;
}

.step-number {
  font-size: 0.875rem;
}

.step-connector {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 0.125rem;
  flex: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: #333;
  max-width: 100px;
}

.step-connector-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.check-icon {
  height: 1rem;
  width: 1rem;
  color: #000;
}
