.faulty-terminal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.faulty-terminal-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
