.spinner-8bit {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  color: currentColor;
  image-rendering: pixelated;
}

.spinner-8bit__pixel {
  position: absolute;
  width: 6px;
  height: 6px;
  background: currentColor;
}

.spinner-8bit--classic .spinner-8bit__pixel {
  animation: spinner-8bit-classic 1s steps(1, end) infinite;
}

.spinner-8bit--classic .spinner-8bit__pixel--1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0s;
}

.spinner-8bit--classic .spinner-8bit__pixel--2 {
  top: 2px;
  right: 2px;
  animation-delay: 0.125s;
}

.spinner-8bit--classic .spinner-8bit__pixel--3 {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  animation-delay: 0.25s;
}

.spinner-8bit--classic .spinner-8bit__pixel--4 {
  bottom: 2px;
  right: 2px;
  animation-delay: 0.375s;
}

.spinner-8bit--classic .spinner-8bit__pixel--5 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0.5s;
}

.spinner-8bit--classic .spinner-8bit__pixel--6 {
  bottom: 2px;
  left: 2px;
  animation-delay: 0.625s;
}

.spinner-8bit--classic .spinner-8bit__pixel--7 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation-delay: 0.75s;
}

.spinner-8bit--classic .spinner-8bit__pixel--8 {
  top: 2px;
  left: 2px;
  animation-delay: 0.875s;
}

.spinner-8bit--diamond .spinner-8bit__pixel {
  animation: spinner-8bit-diamond 0.9s steps(1, end) infinite;
}

.spinner-8bit--diamond .spinner-8bit__pixel--1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0s;
}

.spinner-8bit--diamond .spinner-8bit__pixel--2 {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  animation-delay: 0.225s;
}

.spinner-8bit--diamond .spinner-8bit__pixel--3 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0.45s;
}

.spinner-8bit--diamond .spinner-8bit__pixel--4 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation-delay: 0.675s;
}

@keyframes spinner-8bit-classic {
  0%,
  100% {
    opacity: 0.2;
  }

  12.5% {
    opacity: 1;
  }
}

@keyframes spinner-8bit-diamond {
  0%,
  100% {
    opacity: 0.35;
  }

  25% {
    opacity: 1;
  }
}
